---
import BaseLayout from "@layouts/BaseLayout.astro";
import PageTitle from "@components/PageTitle.astro";

import { BlogTag } from "@components/blog";

import { parsePost, getPosts, getAllTags } from "../../posts";

export async function getStaticPaths() {
  const posts = await getPosts();

  return posts.map((p) => ({
    params: { slug: p.file.split("/").pop().split(".").shift() },
    props: { post: p },
  }));
}

const post = parsePost(Astro.props.post);
const tags = await getAllTags();
---

<BaseLayout
  title={post.frontmatter.title}
  description={post.frontmatter.title}
  permalink={`${Astro.site.href}/blog/${post.slug}`}
  current="blog"
>
  <section class="w-full lg:w-2/3">
    <PageTitle title={post.frontmatter.title} href="/blog" />
    <section class="max-w -ml-2 m-4">
      <BlogTag href="/blog" label="#all" />
      {
        tags.map((t) => (
          <BlogTag
            href={`/blog/tag/${encodeURIComponent(t)}`}
            label={`#${t}`}
          />
        ))
      }
    </section>
    <article
      class="prose prose-neutral prose-img:rounded-md prose-p:text-justify prose-code:text-xs"
      id={post.slug}
      transition:name={post.slug}
    >
      <post.Content />
    </article>
  </section>
</BaseLayout>
