---
import Avatar from "../../components/Avatar.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import PageTitle from "../../components/PageTitle.astro";

import { getPosts } from "../../posts";

const title = "Alex Ward's Blog";
const description = "Latest articles.";
const permalink = `${Astro.site.href}/blog`;

let posts = await getPosts();
---

<BaseLayout
    title={title}
    description={description}
    permalink={permalink}
    current="blog"
>
    <section>
        <PageTitle title={title} href="/" />
        <aside class="sm:float-right mx-auto">
            <Avatar />
        </aside>
        <section class="max-w -ml-2 m-4">
            {
                posts
                    .reduce((acc, post) => {
                        post.frontmatter.tags.forEach((tag) => {
                            if (!acc.includes(tag)) {
                                acc.push(tag);
                            }
                        });
                        return acc;
                    }, [])
                    .map((tag) => {
                        return (
                            <a href="">
                                <span class="text-xs inline-flex items-center font-medium leading-sm px-3 py-1 bg-neutral-100 hover:bg-neutral-200/75 hover:cursor-pointer text-neutral-600 rounded-full mr-1">
                                    #{tag}
                                </span>
                            </a>
                        );
                    })
            }
        </section>
        {
            posts.map((post) => {
                return (
                    <article
                        class="pb-4"
                        id={post.slug}
                        transition:name={post.slug}
                    >
                        <small class="font-thin text-neutral-400 text-xs">
                            <time
                                datetime={post.frontmatter.date.toISOString()}
                            >
                                {post.frontmatter.localeDate}
                            </time>
                        </small>
                        <h2 class="font-medium text-lg">
                            <a
                                href={`/blog/${post.slug}`}
                                class="text-blue-600 hover:text-blue-400 visited:text-purple-700 visited:hover:text-purple-500"
                            >
                                {post.frontmatter.title}
                            </a>
                        </h2>
                        <p>{post.frontmatter.description}</p>
                    </article>
                );
            })
        }
    </section>
</BaseLayout>
