---
import BaseLayout from "@layouts/BaseLayout.astro";
import PageTitle from "@components/PageTitle.astro";

import { BlogTag, BlogArticleLink } from "@components/blog";

import { getPosts, getAllTags } from "../../posts";

const title = "Alex Ward's Blog";
const description = "Latest articles.";
const permalink = `${Astro.site.href}/blog`;

let posts = await getPosts();
let tags = await getAllTags();
---

<BaseLayout
  title={title}
  description={description}
  permalink={permalink}
  current="blog"
>
  <section>
    <PageTitle title={title} href="/" />
    <section class="max-w -ml-2 m-4">
      <BlogTag href="/blog" label="#all" isActive={true} />
      {
        tags.map((tag) => (
          <BlogTag
            href={`/blog/tag/${encodeURIComponent(tag)}`}
            label={`#${tag}`}
          />
        ))
      }
    </section>
    {
      posts.map((post) => <BlogArticleLink post={post} />)
    }
  </section>
</BaseLayout>
