---
import BaseLayout from "@layouts/BaseLayout.astro";
import PageTitle from "@components/PageTitle.astro";

import { BlogTag, BlogArticleLink } from "@components/blog";

import { getPostsByTag, getAllTags } from "../../../posts";

export async function getStaticPaths() {
  const tags = await getAllTags();
  return tags.map((tag) => ({ params: { tag } }));
}

const tag = decodeURIComponent(Astro.params.tag ?? "");
const posts = await getPostsByTag(tag);
const tags = await getAllTags();

const title = `Posts tagged #${tag}`;
const description = `Blog posts tagged with ${tag}.`;
const permalink = `${Astro.site.href}/blog/tag/${tag}`;
---

<BaseLayout
  title={title}
  description={description}
  permalink={permalink}
  current="blog"
>
  <section>
    <PageTitle title={title} href="/blog" />
    <section class="max-w -ml-2 m-4">
      <BlogTag href="/blog" label="#all" isActive={tag === ""} />
      {
        tags.map((t) => (
          <BlogTag
            href={`/blog/tag/${encodeURIComponent(t)}`}
            label={`#${t}`}
            isActive={t === tag}
          />
        ))
      }
    </section>
    {
      posts.map((post) => <BlogArticleLink post={post} />)
    }
  </section>
</BaseLayout>
