---
import Icon from "astro-icon";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { parsePost, getProjects } from "../../projects";

export async function getStaticPaths() {
    const projects = await getProjects();

    return projects.map((p) => ({
        params: { slug: p.name },
        props: { project: p },
    }));
}

const project = Astro.props.project;
---

<BaseLayout
    title={project.name}
    description={project.description}
    permalink={`${Astro.site.href}projects/${project.slug}`}
    current="blog"
>
    <section class="w-full lg:w-2/3">
        <h1 class="pb-2 font-bold text-2xl">
            <a href="/blog" class="items-center"
                ><Icon
                    class="float-left text-xl font-bold -ml-12 mt-1 h-6 hover:text-neutral-700"
                    pack="mdi"
                    name="arrow-left-thick"
                /></a
            >
            {project.name}
        </h1>
        <section class="mb-2 max-w -ml-2 pb-6">
            {
                project.topics.map((tag) => {
                    return (
                        <a href="">
                            <span class="text-xs inline-flex items-center font-medium leading-sm px-3 py-1 bg-neutral-100 hover:bg-neutral-200/75 hover:cursor-pointer text-neutral-600 rounded-full mr-1">
                                #{tag}
                            </span>
                        </a>
                    );
                })
            }
        </section>
        <article></article>
    </section>
</BaseLayout>
