---
import { Icon } from "astro-icon/components";

import Avatar from "../../components/Avatar.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import PageTitle from "../../components/PageTitle.astro";
import Link from "../../components/Link.astro";

import { getProjects } from "../../projects";

const title = "Alex Ward's Projects";
const description = "Latest articles";
const permalink = `${Astro.site.href}/blog`;

let projects = await getProjects();
---

<BaseLayout
    title={title}
    description={description}
    permalink={permalink}
    current="blog"
>
    <section>
        <PageTitle title={title} href="/" />
        <aside class="w-80 sm:float-right mx-auto">
            <Avatar />
        </aside>
        {
            projects.map((project) => {
                return (
                    <>
                        <article
                            class="pb-10"
                            id={project.full_name}
                            transition:name={project.full_name}
                        >
                            <div>
                                <h2 class="font-normal align-middle h-8 group">
                                    <Link
                                        href={`${project.html_url}`}
                                        class="align-middle"
                                    >
                                        <Icon
                                            class="font-bold h-6 text-black group-hover:text-neutral-600 inline mr-2 align-middle"
                                            name="fa-brands:github"
                                        />
                                        {project.name}
                                    </Link>
                                    {project.homepage && (
                                        <a
                                            class="text-xs mx-4 align-middle"
                                            href={project.homepage}
                                        >
                                            <Icon
                                                name="fa-solid:external-link-alt"
                                                class="inline-block"
                                            />{" "}
                                            View
                                        </a>
                                    )}
                                </h2>
                            </div>
                            {project.topics.length ? (
                                <div class="h-8 -ml-1 -mt-1">
                                    {project.topics.map((tag) => {
                                        return (
                                            <a href="" class="">
                                                <span class="text-2xs inline-flex items-center font-medium leading-sm px-2 py-.5 bg-blue-50 hover:bg-neutral-200/75 hover:cursor-pointer text-neutral-600 rounded-full mr-1">
                                                    #{tag}
                                                </span>
                                            </a>
                                        );
                                    })}
                                </div>
                            ) : null}
                            <p>{project.description}</p>
                        </article>
                    </>
                );
            })
        }
    </section>
</BaseLayout>
