---
import BaseLayout from "@layouts/BaseLayout.astro";
import PageTitle from "@components/PageTitle.astro";

import { StarCount, Link } from "@components/ui";
import { Icon } from "astro-icon/components";

import { getProjects } from "../../projects";

const title = "Alex Ward's Projects";
const description = "Latest articles";
const permalink = `${Astro.site.href}/blog`;

let projects = await getProjects();
---

<BaseLayout
  title={title}
  description={description}
  permalink={permalink}
  current="blog"
>
  <section>
    <PageTitle title={title} href="/" />
    {
      projects.map((project) => {
        return (
          <>
            <article
              class="pb-8 flex flex-row justify-between space-x-4"
              id={project.full_name}
              transition:name={project.full_name}
            >
              <div>
                <div class="flex flex-row">
                  <h2 class="font-normal align-middle h-8 group">
                    <Link href={`${project.html_url}`} class="align-middle">
                      <Icon
                        class="font-bold h-6 text-black group-hover:text-neutral-600 inline mr-2 align-middle"
                        name="fa-brands:github"
                      />
                      {project.name}
                    </Link>
                  </h2>
                  <StarCount count={project.stargazers_count} />
                  {project.homepage && (
                    <a
                      class="text-xs mx-4 inline-block align-middle"
                      href={project.homepage}
                    >
                      <Icon
                        name="fa-solid:external-link-alt"
                        class="inline-block"
                      />
                    </a>
                  )}
                </div>
                {project.topics.length ? (
                  <div class="-ml-1 mb-2">
                    {project.topics.map((tag) => {
                      return (
                        <a href="" class="">
                          <span class="text-2xs inline-flex items-center font-medium leading-sm px-2 py-.5 bg-blue-50 hover:bg-neutral-200/75 hover:cursor-pointer text-neutral-600 rounded-full mr-1">
                            #{tag}
                          </span>
                        </a>
                      );
                    })}
                  </div>
                ) : null}
                <p>{project.description}</p>
              </div>
              {project.homepage && (
                <div class="rounded overflow-hidden w-[384px] h-[216px] border shrink-0 sm:block">
                  <div
                    iframe-placeholder
                    class="h-full flex items-center justify-center"
                  >
                    <svg
                      class="size-12 opacity-50"
                      viewBox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M12,1A11,11,0,1,0,23,12,11,11,0,0,0,12,1Zm0,19a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z"
                        opacity=".25"
                      />
                      <circle
                        class="origin-center animate-spin"
                        cx="12"
                        cy="2.5"
                        r="1.5"
                      />
                    </svg>
                  </div>
                  <iframe
                    data-project-href={project.homepage}
                    class="rounded -translate-y-[252px] -translate-x-[448px] scale-[.3] w-[1280px] h-[720px] hidden"
                    scrolling="no"
                  />
                </div>
              )}
              {!project.homepage && (
                <div class="rounded overflow-hidden w-[384px] h-1 shrink-0 hidden sm:block" />
              )}
            </article>
            <hr class="py-4" />
          </>
        );
      })
    }
  </section>
  <script>
    document
      .querySelectorAll("div[iframe-placeholder]")
      .forEach((placeholder) => {
        const observer = new IntersectionObserver((entries) => {
          entries.forEach((entry) => {
            if (entry.isIntersecting) {
              const iframe =
                placeholder.nextElementSibling as HTMLIFrameElement;
              iframe.src = iframe.dataset.projectHref;
              iframe.onload = () => {
                iframe.classList.remove("hidden");
                placeholder.remove();
              };
              observer.unobserve(placeholder);
            }
          });
        });
        observer.observe(placeholder);
      });
  </script>
</BaseLayout>
